
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Suche - VulnForum</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <h2>VulnForum</h2>

        <a href="/">Home</a>
        <a href="/forum">Forum</a>
        <a href="/login">Login</a>
        <a href="/register">Registrieren</a>
        <a href="/search">Suche</a>
    </nav>

    <main class="container">

        <section class="card wide">

            <h1>Suche</h1>

            <p>
                Suche nach Beiträgen im VulnForum.
            </p>

            <form method="GET">

                <input type="text"
                       name="q"
                       placeholder="Suchbegriff eingeben">

                <button type="submit">
                    Suchen
                </button>

            </form>

            {% if query %}

                <div class="post">

                    <h2>Suchergebnis für:</h2>

                    <!-- ABSICHTLICH UNSICHER: Reflected XSS -->

                    <p class="result">
                        {{ query|safe }}
                    </p>

                </div>

            {% endif %}

        </section>

    </main>

</body>
</html>

